/* YourStyles.css */
  
  /* ImageOverlay.css */
.image-container {
  position: relative;
  width: 100%;
  height: 700px;
}

.image {
  position: absolute;
  width: 100%;
  height: auto
}

.image1 {
  z-index: 1; /* Bring image1 to the front */
  width: 350px;
  height:420px;
  margin-left: 160px;
  
}

.image2 {
  z-index: 2; /* Place image2 behind image1 */
  top: 250px; /* Adjust as needed to create the overlay effect */
  width: 300px;
  height: 300px;
}
